<%- include("header") %>

<h2>This is the about page</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, doloribus beatae? Mollitia, consequatur delectus? Quos a minus distinctio quisquam id nesciunt dicta odit cumque repudiandae iusto fugit perferendis, tenetur, repellat magni, accusantium nobis! Quisquam est necessitatibus consequatur incidunt nostrum at quis voluptas suscipit hic saepe!</p>

<%- include("footer") %>